{% extends 'base.html' %}
{% block content %}

<style media="screen">
table#t01 {
  width: 100%;
  background-color: #f1f1c1;
  font-size:100%;
  overflow: scroll;
}
</style>

<div class="container">


<div class="page-header" >
  {% if not request.user.is_authenticated %}

    <h1>Welcome</h1>
  {% else %}

  <h1>Greetings {{user}}</h1>
  {% if request.user.profile.is_roasting %}
  <form class="" action="{% url 'roasting_list_view' %}" method="get">
<input class="btn btn-default btn-lg" type="submit" name="" value="Roasting Page">
</form>
  {% endif %}
  {% if request.user.profile.is_production %}
  <form class="" action="{% url 'production_list_view' %}" method="get">
<input class="btn btn-default btn-lg" type="submit" name="" value="Production Page">
</form>
  {% endif %}
  {% if request.user.profile.is_customer_service %}
  <form class="" action="{% url 'customer_service_view' %}" method="get">
<input class="btn btn-default btn-lg" type="submit" name="" value="Customer Service Portal">
</form>
  {% endif %}
  {% if request.user.profile.is_delivery %}
  <form class="" action="{% url 'delivery_list_view' %}" method="get">
<input class="btn btn-default btn-lg" type="submit" name="" value="Delivery Page">
</form>
  {% endif %}

</div>
<div style="height:200x" class="container">

{% if object_list|length == 0 %}
  <div class="container">
    <h4>No Invoices Posted</h4>
  </div>
{% else %}
<table id=t01>
    <caption>Outstanding Invoices</caption>
  <tr>
    <th>Invoice no. </th>
    <th>Time Created</th>
    <th>Seen By Roaster</th>
    <th>Seen By Production</th>
    <th>Seen By Delivery</th>
  </tr>
{% for invoice in object_list %}

  {% if  invoice.shipping_complete or not invoice.delivery and invoice.production_complete %}

  {% else %}
  <tr>
    <td>{{invoice.id}}</td>
    <td>{{invoice.time_created}}</td>
    <td><div class="">
      {% if invoice.roaster_seen %}
       <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% endif %}
    </div></td>
    <td><div class="">
      {% if invoice.production_seen %}
       <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% endif %}
    </div></td>
    <td><div class="">
      {% if not invoice.delivery %}
        <p>
          N/A
        </p>
      {% else %}
      {% if invoice.shipping_seen %}
       <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% endif %}
      {% endif %}

    </div></td>

  </tr>
  {% endif %}
{% endfor %}
</table>
</div>

{% endif %}
{% endif %}


{% endblock %}
