{% extends 'base.html' %}

{% block content %}
<html>
<head>
<style>

</style>
</head>
<body>
<div class="container">
  {% if object_list|length == 0 %}
    <div class="container">
      <h4>No Invoices Posted</h4>
    </div>
  {% else %}

  <h2>Received Invoices</h2>

  <div class="body">


  {% for invoice in object_list %}
  {% if invoice.production_seen is False %}
  <button class="accordion">Invoice #{{invoice.id}}</button>
  {% else %}
  <button class="accordion">Invoice #{{invoice.id}} <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span></button>
  {% endif %}
  <div class="panel">
    <p>{{invoice.time_created}}</p>
    {% for order in invoice.order_items %}
    <h3>  {{order.quantity}} {{order.item}} {{order.amount}}</h3>
    {% endfor %}

    {% if invoice.production_seen is False %}
    <form class="" action="{% url 'invoice_update_view' invoice.id %}?next={% url 'production_list_view' %}" method="post">
  {% csrf_token %}
      <input class="btn btn-default btn-md" type="submit" name="" value="Mark as Seen">
  </form>

  {% else %}
  <form class="" action="{% url 'invoice_update_view' invoice.id %}?next={% url 'production_list_view' %}" method="post">
{% csrf_token %}
    <input class="btn btn-success btn-md" type="submit" name="" value="Seen, Select to Mark Complete">
</form>
  {% endif %}

  </div>
  {% endfor %}
  {% endif %}
</div>

</div>
<script>



var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>

</body>
</html>

{% endblock %}
<!DOCTYPE html>
