{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="all" title="no title">
   <style media="screen">
     body {
       background-color: white;
     }
   </style>
   <style>
   table {
       font-family: arial, sans-serif;
       border-collapse: collapse;
       width: 100%;
   }

   td, th {
       border: 1px solid #aaaaaa;
       text-align: left;
       padding: 8px;
   }

   tr:nth-child(even) {
       background-color: #eeeeee;
   }
   </style>

  </head>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="...">
    </a>
  </div>

      <ul class="nav nav-pills">
        <li role="presentation"><a href="{% url 'index_view' %}">Home</a></li>

        {% if not request.user.is_authenticated %}
        <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
        <li role="presentation"><a href="{% url 'user_create_view' %}">Create User Account</a></li>
         {% else %}
            <li role="presentation"><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
          {% endif %}


        </ul>

        </div>

          </nav>
  <body>
      {% block content %}
      {% endblock %}

  </body>
