{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
   <style media="screen">
     body {
       background-color: white;
     }
   </style>
  </head>
  <nav>
      <div class="container">

      <ul class="nav nav-pills">
        {% if not request.user.is_authenticated %}
        <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
        <li role="presentation"><a href="{% url 'user_create_view' %}">Create User Account</a></li>
         {% else %}
            <li role="presentation"><a href="{% url 'inventory_list_view' %}">Inventory</a></li>
            <li role="presentation"><a href="{% url 'inventory_create_view' %}">Create New Inventory Item</a></li>
            <li role="presentation"><a href="{% url 'profile_update_view' %}">Update Profile Status</a></li>
            <li role="presentation"><a href="{% url 'order_form_view' %}">Generate Order</a></li>
            <li role="presentation"><a href="{% url 'logout' %}?next={% url 'inventory_list_view' %}">Logout</a></li>
            <li role="presentation"><a href="{% url 'roasting_list_view' %}">Roaster</a></li>
          {% endif %}


        </ul>

        </div>

          </nav>
  <body>
      {% block content %}
      {% endblock %}

  </body>
