{% extends 'base.html' %}

{% block content %}

<style media="screen">

  #divmenu {
    text-align: left;

  }

  a.list-group-item {
    color: black;
    background-color: #C14444;

  }

#divtable {
  height:200px;
 overflow:scroll;
 margin-top:20px;

}
</style>


<div class="container">
  <h2>Customer Service Portal</h2>
</div>
<div class="container">

  <div id=divmenu class="list-group">

    <a href="{% url 'order_form_view' %}" class="list-group-item ">Create Invoice</a>
    <a href="{% url 'inventory_list_view' %}" class="list-group-item ">View Inventory</a>
    <a href="{% url 'customer_form_view' %}" class="list-group-item ">Add Customer</a>
    <a href="{% url 'customer_list_view' %}" class="list-group-item ">View Customers</a>
  </div>


</div>



<div id=divtable class="container">


<table>
  <caption>Today's Invoices</caption>
  <tr>
    <th>Invoice Id</th>
    <th>Time Created</th>
    <th>Total Cost</th>
    <th>Consumer Discount</th>
    <th>Bulk Purchase Discount</th>
  </tr>


  {% for invoice in invoices %}
  {% if invoice.is_recent %}

  <tr>
    <td>{{invoice.id}} </td>
    <td> {{invoice.time_created}}</td>
    <td> {{invoice.total_cost}}</td>

    <td> {% if invoice.customer_discount %}
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

        {% else %}

        {% endif %}

    </td>
    <td>
      {% if invoice.bulk_discount %}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% else %}

          {% endif %}
    </td>
  </tr>
  {% else %}
  {% endif %}
  {% endfor %}
</table>

</div>

{% endblock %}
