{% extends 'base.html' %}

{% block content %}
<head>
  <div class="container">


  <form class="" action="{% url 'customer_service_view' %}" method="get">
  {% csrf_token %}
    <input class="btn btn-success btn-md" type="submit" name="" value="Back">
  </form>
  </div>
</head>
<style media="screen">
  div.customertable {
    height:500px;
     overflow:auto;
     margin-top:20px;

  }
</style>

<div class="container">
  <h1>Saved Customers</h1>
</div>

<div class="container">
  <div class="customertable">

<table style="width:100%" >
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>ID</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Note</th>

  </tr>
{% for customer in object_list %}
  <tr>
    <td>{{customer.given_name}}</td>
    <td>{{customer.company_name}}</td>
    <td>{{customer.id}}</td>
    <td>{{customer.email_address}}</td>
    <td>{{customer.phone_number}}</td>
    <td>{{customer.note}}</td>
    <td><a href="{% url 'customer_update_view' customer.id %}">Update Customer</a></td>
    <td><a href="{% url 'customer_delete_view' customer.id %}">Delete Customer</a></td>



  </tr>
{% endfor %}
</table>

  </div>
</div>



{% endblock %}
