{% extends 'base.html' %}

{% block content %}


<div class="container">


<table style="width:100%" >
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>ID</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Note</th>

  </tr>
{% for customer in object_list %}
  <tr>
    <td>{{customer.given_name}}</td>
    <td>{{customer.company_name}}</td>
    <td>{{customer.id}}</td>
    <td>{{customer.email_address}}</td>
    <td>{{customer.phone_number}}</td>
    <td>{{customer.note}}</td>
    <td><a href="{% url 'customer_update_view' customer.id %}">Update Customer</a></td>
    <td><a href="{% url 'customer_delete_view' customer.id %}">Delete Customer</a></td>



  </tr>
{% endfor %}
</table>
</div>



{% endblock %}
