{% extends 'base.html' %}

{% block content %}
<ul class="list-group">

<div class="container">
  <h2>Cutomer Service Portal</h2>
</div>
<div class="container">

<div class="panel panel-default">
  <div class="panel-body">
    <a href="{% url 'order_form_view' %}">Create Invoice</a>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <a href="{% url 'inventory_list_view' %}">View Inventory</a>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <a href="{% url 'customer_form_view' %}">Add Customer</a>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="{% url 'customer_list_view' %}">View Customers</a>

  </div>
</div>
</div>

<div class="container">


<table>
  <tr>
    <th>Invoice Id</th>
    <th>Time Created</th>
    <th>Total Cost</th>
    <th>Consumer Discount</th>
    <th>Bulk Purchase Discount</th>
  </tr>
  {% for invoice in invoices %}
  <tr>
    <td>{{invoice.id}} </td>
    <td> {{invoice.time_created}}</td>
    <td> {{invoice.total_cost}}</td>

    <td> {% if invoice.customer_discount %}
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

        {% else %}

        {% endif %}

    </td>
    <td>
      {% if invoice.bulk_discount %}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% else %}

          {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

</div>

{% endblock %}
