
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="col-md-4"  data-toggle="popover" title="Profile Update"
   data-content="Users of this app can choose from one of four access levels:  Customer Service, Roasting, Production, and Delivery." >

  </div>

  <h3>Choose your access level</h3>
  <form class="" action="" method="post">

    {{ form.access_level }}
    {% csrf_token %}
    <input class="btn btn-default btn-md" type="submit" value="Submit">
  </form>
</div>
{% endblock %}



<img src="" alt="">
